<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= yield_content(:head) %>
    <title><%= yield_content(:title) || current_page.data.title %></title>

    <%= stylesheet_link_tag "normalize", "all", "header", "footer", "products", "home" %>
    <%= javascript_include_tag  "all" %>
    <link rel="shortcut icon" href="/images/fok-chow-logo.ico" type="image/x-icon" />
  </head>

  <body class="<%= page_classes %>">
    <section class="centre-column">
      <header>
        <img class="logo" src="/images/fok-chow-logo.svg"/>
        <ul class="product">
        <% data.products.each do |_, product| %>
          <li class="<%= product.id %>"><a class="name" href="/products/<%= product.id %>"><%= product.title %></a></li>
        <% end %>
        </ul>

        <ul >

        </ul>

        <ul class="social-media">
        <% data.social.each do |id, media| %>
          <li class="<%= id %>"><a class="name" href="<%= media.url %>"><%= media.title %></a></li>
        <% end %>
        </ul>

      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <div class="address">434 St. Kilda Rd Melbourne 3000</div>
      </footer>
    </section>
  </body>
</html>
