%header
  = image_tag('fok-chow-logo.svg', class: 'logo')

  %ul.menu
    %li.section.about
      %a.title{:href => "/about"}= 'About'
    %li.section.products
      %a.title{:href => "/products"}= 'Products'
      %ul.products_list
        - active_products.each do |_, product|
          %li{:class => [:product, product.id]}
            %a.name{:href => "/products/#{product.id}"}= product.title
    %li.section.contact
      %a.title{:href => "/contact"}= 'Contact'