---
title: Fok Chow - Sauces and Condiments - About
types: about
---

%h1= 'About Fok Chow'
.content
  %blockquote
    %p= 'The Fok Chow name has enjoyed a rich history'

  %p
    It originated in Macau amongst a fusion of Portuguese and Cantonese cooking.
    My family put down roots in Mauritius and grew amongst the hearty Creole of French, Indian, Middle Eastern, African and Chinese food.
    This little island is a real blend of flavours and friendships that surpass diverse racial backgrounds.
    Now I live in Melbourne, Australia where I am proud to be a part of another rich melting pot of culture and cuisine.

  %blockquote
    %p= 'My love affair with food stems from my family, especially my Mum'

  %p
    The deliciousness of her food was legendary in the local community and random calls to request the odd recipe were common.
    My Dad is both her biggest fan and her biggest critic.
    I think my Mum's tenacity and positive attitude in life are among her many secret ingredients and it is a recipe that I aim to perfect too.
    Food is part of life and the women of my family will happily chat for hours about their love of it over a cup of tea.

  %blockquote
    %p= 'Fok Chow is about sensational but honest flavours'

  %p
    No additives or preservatives, just tantalising tastes and authentic experiences.
    I want everyone to be able to prepare great, healthy meals at home.
    I want to share my passion for food and spread the joyful satisfaction of a contented belly.
    I want to hear how you use Fok Chow products to create your own great experiences too.

  %p
    Join me on this wonderful journey together to share the love of authentic flavours at home and beyond.

  %p.signature= image_tag 'signature.svg'
